{% extends "main_layout.html" %}
{% block body %}
{% if editable %}
  <form action="/admin/set_teams" method="POST" id="special_form">
{% endif %}
{% if config.NUMBER_OF_TEAMS == 32 %}
  {% include "bracket_of_32.html" %}
{% elif config.NUMBER_OF_TEAMS == 16 %}
  {% include "bracket_of_16.html" %}
{% elif config.NUMBER_OF_TEAMS == 8 %}
  {% include "bracket_of_8.html" %}
{% endif %}


{% if editable %}
  <div style="margin-top:-50px;height:55px;text-align:center;">
    <span class="alert-box success center" style="width:30%;text-align:center;">Successful</span>
    <span class="alert-box failure center" style="width:30%;text-align:center;">Failure</span>
    <span class="alert-box warning center" style="width:30%;text-align:center;">Warning</span>
  </div>
  <div style="width:100%;text-align:center;">
      <input type="submit" class="submit center">
  </div>
  </form>
  <script>
    {% include "js/save.js" %}
  </script>
{% endif %}
{% endblock %}
